@import "~bootstrap/dist/css/bootstrap.css";
html,body {
  font-family: Roboto, Helvetica, sans-serif;
}
$brand-color : #7282f5;
.login {
  margin-top: 100px;
  color: #fff;
  #login-title {
    background-color: $brand-color;
    color: #fff;
    font-size: 20px;
  }

  #login-button {
    background-color: $brand-color;
  }

  #social-google {
    background-color: #EA4335;
    border-color: unset;
  }
}