{% extends 'layout/two-column.html' %}
{% block title %} | Find Friend {% endblock %}
{% load static %}

{% block contents %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Find Friends</div>
                <div class="panel-body">
                    <form class="form-horizontal" name="find-friends" id="find-friends" method="post">

                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label" for="username">User Name</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Enter Username of the Person">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Find Friends</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">User List</div>
                <div class="panel-body">
                    <div id="friend-list">
                        {% include 'friend_list.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}

{% block Scripts %}
    <script>
        function loadFriends(friendName = '') {
            friendName = encodeURIComponent(friendName);
            $("#friend-list").empty();
            $("#friend-list").load("{% url 'list_friends' %}" + "?name=" + friendName);
        }

        $(document).ready(function (e) {
            $("#find-friends").submit(function (e) {
                e.preventDefault();
                loadFriends($("#username").val());
            });

            $("#friend-list").on("click", ".add-friend", function (e) {
                let request_to = $(this).attr("data-id");
                $(this).prop("disabled", true);
                let that = $(this);

                $.ajax({
                    method: "POST",
                    url: '{% url 'new_request' %}',
                    data: {
                        request_to: request_to,
                    },
                    dataType: "json",
                    success: function (res) {
                        if(res.result) {
                            that.text("Request Sent");
                            that.removeClass("btn-info").addClass("btn-warning");
                        }
                    },
                    error: function (res) {
                        console.log("Error", res);
                    },
                    complete: function(res) {
                        console.log("Complete", res);
                    }
                });
            });
        });
    </script>
{% endblock Scripts %}
