{% extends 'layout/two-column.html' %}
{% block title %} | {{ user.profile.real_name }}'s Profile {% endblock %}
{% load static %}

{% block contents %}

    <div class="row user-profile">

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> User Information</div>
                <div class="panel-body">
                    <div class="text-center">
                        <img class="user-image" {% if user.profile.avatar %}
                             src="{{ user.profile.avatar.url }}" {% else %}
                             src="https://via.placeholder.com/150" {% endif %} alt="User Profile Image"/>
                        <a href="{% url 'profileinfo' id=user.id %}"><h3>{{ user.profile.real_name }}</h3></a>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td>Full Name :</td>
                            <td>{{ user.profile.real_name }}</td>
                        </tr>
                        <tr>
                            <td>User Name :</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Email :</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% if is_self or is_friend %}
                            <tr>
                                <td>Date of Birth :</td>
                                <td>{{ user.profile.dob }}</td>
                            </tr>
                            <tr>
                                <td>City :</td>
                                <td>{{ user.profile.city }}</td>
                            </tr>
                            <tr>
                                <td>Country :</td>
                                <td>{{ user.profile.country }}</td>
                            </tr>
                            <tr>
                                <td>Mobile # :</td>
                                <td>{{ user.profile.phone }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {% if user.id == request.user.id %}
                        <hr/>
                        <div class="text-center">
                            <a href="{% url 'editprofile' %}" class="btn btn-default btn-primary">Update Profile</a>
                            <a href="#" class="btn btn-primary btn-danger" data-toggle="modal"
                               data-target="#deleteModal">Delete Profile</a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure that you want to <span class="label-warning">delete</span> your
                                            account?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <a href="{% url 'delete_account' %}" type="button" class="btn btn-danger">Yes,
                                            Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>

            </div>
        </div>

        {% if is_self %}
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"> Friends</div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#friends">Friends</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#requests">My requests</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <div id="friends" class="tab-pane fade in active">
                                {% if friends %}
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Sr.</th>
                                            <th>Real Name</th>
                                            <th>Sent at</th>
                                            <th>Accepted at</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for f in friends %}
                                            <tr>
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td>
                                                    {% if f.req_to == request.user %}
                                                        <a href="{% url 'profileinfo' id=f.req_from.id %}">
                                                            {{ f.req_from.profile.real_name }}
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'profileinfo' id=f.req_to.id %}">
                                                            {{ f.req_to.profile.real_name }}
                                                        </a>
                                                    {% endif %}

                                                </td>
                                                <td>{{ f.created_at }}</td>
                                                <td>{{ f.updated_at }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                            <div id="requests" class="tab-pane fade">
                                {% if pendings %}
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Sr.</th>
                                            <th>Request To</th>
                                            <th>Sent at</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in pendings %}
                                            <tr>
                                                <td class="text-center">{{ forloop.counter }}</td>
                                                <td>
                                                    {% if p.req_to == request.user %}
                                                        <a href="{% url 'profileinfo' id=p.req_from.id %}">
                                                            {{ p.req_from.profile.real_name }}
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'profileinfo' id=p.req_to.id %}">
                                                            {{ p.req_to.profile.real_name }}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td>{{ p.created_at }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        {% if is_self or is_friend %}
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"> Discussions</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Sr.</th>
                                <th>Topic</th>
                                <th>Created By</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for d in discussions %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{ d.topic }}</td>
                                    <td>
                                        <a href="{% url 'profileinfo' id=d.created_by.id %}">
                                            {{ d.created_by.profile.real_name }}
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'view_discussion' id=d.id %}" class="btn btn-default">
                                            Go to discussion
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock contents %}