{% extends 'layout/two-column.html' %}
{% block title %} | Profile {% endblock %}
{% load static %}

{% block contents %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> Discussions</div>
                <div class="panel-body">
                    {% if discussions %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Sr.</th>
                                <th>Topic</th>
                                <th>Started By</th>
                                <th>Started At</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in discussions %}
                                <tr>
                                    <td class="text-center">
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        <a href="{% url 'view_discussion' id=d.id %}">
                                            {{ d.topic }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'profileinfo' id=d.created_by.id %}">
                                            {{ d.created_by.profile.real_name }}
                                        </a>
                                    </td>
                                    <td>{{ d.created_at }}</td>
                                    <td>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> Friends</div>
                <div class="panel-body">
                    {% if friends %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Sr.</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in friends %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'profileinfo' id=f.req_from_id %}">
                                            {{ f.req_from.profile.real_name }}
                                        </a>
                                    </td>

                                    <td>{{ f.created_at }}</td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-default">
                                            Un-Friend
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> Friend Requests</div>
                <div class="panel-body">
                    {% if friend_requests %}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">Sr.</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for req in friend_requests %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'profileinfo' id=f.req_from_id %}">
                                            {{ req.req_from.profile.real_name }}
                                        </a>
                                    </td>
                                    <td>{{ req.created_at }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'accept_request' id=req.id %}" class="btn btn-default">
                                            Accept
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock contents %}
