{% extends 'layout/default.html' %}
{% block title %} | Sign Up {% endblock %}
{% load static %}

{% block contents %}

    <div class="row login">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center"> Sign Up</div>
                <div class="panel-body">
                    <form method="post" class="">
                        {% csrf_token %}
                        {% for field in form %}

                            <div class="form-group">
                                {{ field.errors }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>


                        {% endfor %}
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </div>

                    </form>

                </div>

            </div>


        </div>

    </div>

    </div>
{% endblock contents %}
