{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let Connect{% block title %} {% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static "css/vendor.css" %}" rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Let Connect</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if request.resolver_match.url_name == "discussion_list" %}active{% endif %}">
                    <a href="{% url 'discussion_list' %}">Discussions</a>
                </li>
                <li class="{% if request.resolver_match.url_name == "find_friends" %}active{% endif %}">
                    <a href="{% url 'find_friends' %}">Find Friends</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ request.user.profile.real_name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profileinfo' id=request.user.id %}">Profile Info</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'find_friends' %}">Find Friends</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid page-contents">

    <div class="row">
        <div class="col-md-3 hidden-sm left-sidebar">

        </div>

        <div class="col-md-6 col-sm-12 center-content">
            {% block contents %}
            {% endblock contents %}
        </div>

        <div class="col-md-3 hidden-sm right-sidebar">

        </div>
    </div>


</div>
<script type="text/javascript" src="{% static "js/bundle.js" %}"></script>
<script>
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

{% block Scripts %}
{% endblock Scripts %}
</body>
</html>
