{% for comment in comments %}
    <div class="comment">
        <div class="img-wrapper">
            <img class="user-image" src="https://via.placeholder.com/150" alt="User Image"/>
        </div>
        <div class="comment-text">
            <div class="content">
                <a class="user-name" href="#">{{ comment.comment_by.profile.real_name }}</a>
                <p class="text">{{ comment.text }}</p>
                <p class="time">{{ comment.created_at }}</p>
            </div>
        </div>

    </div>
{% endfor %}